<div class="container">
  <div class="main-content">
    <h1>All Questions</h1>
      <% @questions.each do |question| %>
      <div class="stats">

      </div>
      <div class="list-question">
        <p><a href="/questions/<%=question.id%>"><%=question.title%></a></p>
        <% if question.tags %>
          <% question.tags.each do |tag| %>
            <span class="tag"><a href='/tags/<%=tag.id%>'><%= tag.content %></a></span>
          <% end %>
        <% end %>
        <p class="asked">asked <%= Time.now - question.created_at %> ago.</p>
      </div>
      <%end%>
    </div>
  </div>
</div>
