<div class="container">

  <div class="main-content">
    <div class="questions-content">

      <div class="votes">
        <a href="#">Up</a>
          <p class="score">#</p>
        <a href="#">Down</a><br>
      </div>

      <div class="questions">
        <h1><%=@question.title%></h1>
        <p><%=@question.content%></p>
        <% if session[:user_id].to_i == @question.user_id %>
          <a href='/questions/<%=@question.id%>/edit'>Edit Post</a>
        <% end %>
      </div>

      <div class="questions-comments">
        <a id='new-question-comment' href="/questions/<%=@question.id%>/comments/new">Add a comment to post</a>
        <div id="questions-comments-post">
           <%= erb :'/comments/_question_comment_form'%>
         </div>
      <% if @question.comments %>
        <% @question.comments.each do |comment|%>
          <%= erb :'/comments/_questions_comment.html', locals: {comment: comment} %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>


  <div class="main-content">
      <% if @question.answers %>
      <div id="answers-content" >
          <% @question.answers.each do |answer| %>
              <!-- votes go here -->
            <%= erb :'/answers/_answer.html', locals: {answer: answer}%>
      <% end %>
    </div>
    <% end %>


      <button id="answer_button" class="button center">Answer</button>
      </div id="answer-post">
        <%= erb :'/answers/_new_form.html' %>
      </div>
  </div>
</div>


