<div class="container">

  <div class="main-content">

    <div class="questions-content">

      <div class="votes">
        <a href="#">Upvote</a>

          <p class="score">#</p>
        <a href="#">Downvote</a><br>
      </div>

      <div class="questions">
        <h1><%=@question.title%></h1>
        <p><%=@question.content%></p>
        <a href='/questions/<%=@question.id%>/edit'>Edit Post</a>
      </div>

    </div>

  </div>



  <div class="main-content">

      <% if @question.answers %>
    <div class="answer-content">

      <div class="votes">
        <a href="#">Upvote</a>
        <a href="#">Downvote</a><br>
      </div>

      <% @question.answers.each do |answer| %>
      <div class="answers">
          <%= answer.content %><br>
          <a href="/answers/<%=answer.id%>/edit">Edit this answer</a>
        <% end %>
      </div>
      <% end %>

      <div class="answer-post">
        <%= erb :'/answers/_new_form.html' %>
      </div>

    </div>

  </div>

</div>

