<h1><%= @user.full_name %></h1>
<p><%= @user.email %></p>

<div>
  <%@user.questions.each do |question|%>
    <a href='/questions/<%=question.id%>'><%=question.title%><a>
  <%end%>
</div>

<% if session[:user_id] %>
<p>You are logged in as User <%= session[:full_name].inspect %></p>
<form action='/logout' method='post'>
  <input type='hidden' name='_method' value='delete'/>
  <input type='submit' value='Logout!'>
</form>
<% end %>

