<div class="answers">
        <%= answer.content %><br>
          <% if answer.comments %>
            <% answer.comments.each do |comment|%>

              <div class="answers-comments">
                <%= comment.content %>
                <% if comment.user_id == session[:user_id].to_i %>
                  <a href="/comments/<%=comment.id%>/edit">Edit Comment</a>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% if answer.user_id == session[:user_id].to_i %>
          <a href="/answers/<%=answer.id%>/edit">Edit this answer</a>
        <% end %>
          <a href="/answers/<%=answer.id%>/comments/new">Add a comment</a>
        </div>
